<!doctype html>
<html>
<head>
  <title>Game</title>
</head>
<body>

<form action="/madlib">
    Person: <input type="text" name="person"><br>
    Color: <input type="text" name="color"><br>
    Noun: <input type="text" name="noun"><br>
    Adjective: <input type="text" name="adjective"><br>
    Select a primate:
    <select name="primate">
        <option name="human" value="human">Human</option>
        <option value="orangutan">Orangutan</option>
        <option value="bonobo">Bonobo</option>
        <option value="marmoset">Marmoset</option>
        <option value="proboscis">Proboscis</option>
    </select><br>
    <input type="submit">
</form>

</body>
</html>